h2 {
    background: rgba(0, 0, 255, 0.374);
}
.paragraf-1 {
    background: rgba(37, 133, 32, 0.444);
}
.paragraf-2 {
    border: rgb(112, 78, 167) solid 6px;
}
.paragraf-3 {
    border: rgb(252, 158, 219) dotted 6px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}
.paragraf-4 {
    border: rgb(100, 29, 29) solid 6px;
    margin: 60px;
    padding: 40px;
}
.paragraf-5 {
    color: rgb(255, 255, 0);
    font-family: Courier;
}
.info {
    font-weight: bold;
}